<div class="sidebox">
	<h2 class="title">
		<span id="sideblock_mutuality_title"> <a href="javascript:;" onclick="showhidediv(&quot;sideblock_mutuality&quot;);" class="side_block">[-]</a></span> 你可能认识
		<a href="cp.php?ac=friend&op=find" title="查看更多推荐玩家" class="r_option">更多</a>
	</h2>
	<div class="panel-content" id="sideblock_mutuality" >
		<if '$theModel'>
		<ul class="avatar_list">
			<model:foreach>
			<li>
				<div class="avatar48">
					<a href="space.php?uid={=$theModel['uid']} " title="{=$theModel['username']}"><img src="{=$theModel['uid']}" alt="{=$theModel['username']}" title="{=$theModel['username']}" /></a>
				</div>
				<p >
					<a href="cp.php?ac=poke&op=send&uid={=$theModel['uid']}" id="a_p_s_{=$theModel['uid']}" title="骚扰一下{=$theModel['username']}" onclick="ajaxmenu(event, this.id, 99999, '', -1)">{=$theModel['username']}</a>
				</p>
			</li>
			</model:foreach>
		</ul>
		</if>
		<div class="clear"></div>
		<div>
			<a href="cp.php?ac=invite">邀请朋友加入</a>
		</div>
	</div>
</div>